<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prospera Free - New Amazing HTML5 Template</title>
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/responsee.css">
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="css/lightcase.css">
    <link rel="stylesheet" href="css/template-style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/responsee.js"></script>
    <script type="text/javascript" src="js/validation.js"></script> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
  </head>
  
  
  <body class="size-1140">
  
    <!-- HEADER -->
    <header role="banner">    
      <!-- Top Bar -->
      <div class="top-bar background-white">
        <div class="line">
          <div class="s-12 m-6 l-6">
            
          </div>
          <div class="s-12 m-6 l-6">
            <div class="right">
              <ul class="top-bar-social right">
                <li><a href="/"><i class="icon-facebook_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-twitter_circle text-orange-hover"></i></a> </li>
                <li><a href="/"><i class="icon-google_plus_circle text-orange-hover"></i></a></li>
                <li><a href="/"><i class="icon-instagram_circle text-orange-hover"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Top Navigation -->
      <nav class="background-white background-primary-hightlight">
        <div class="line">
          <div class="s-12 l-2">
            <a href="index.html" class="logo"><img src="img/logo-free.png" alt=""></a>
          </div>
          <div class="top-nav s-12 l-10">
            <p class="nav-text"></p>
            <ul class="right chevron">
              <li><a href="index.html">Home</a></li>
              <li><a href="products.html">Area</a></li>
              <li><a>Services</a>
                <ul>
                  <li><a>Service 1</a>
                    <ul>
                      <li><a>Service 1 A</a></li>
                      <li><a>Service 1 B</a></li>
                    </ul>
                  </li>
                  <li><a>Service 2</a></li>
                </ul>
              </li>
              <li><a href="about.html">About</a></li>
              <li><a href="gallery.html">Order</a></li>
              
			  <li><a href="contact.html">Cart</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-primary text-center">

          <h1 class="text-white margin-bottom-0 text-size-50 text-thin text-line-height-1">Shopping Cart</h1>
        </header>
		
		<div class="line">
            <div class="box">

               <div class="s-12 l-8 right">
                  <div class="margin">
                     
                     <div class="s-12 l-4">
                        <p class="right">3 items / €199</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
        <div class="line">
         <div class="box">
            <div class="margin">
               <!-- CONTENT -->
               <section class="s-12 m-8 l-9 right">
                  <h1>Content</h1>
                  <div class="margin">
                    
                     <div class="s-12 m-6 l-4">
                        <img src="img/2.jpg">
                        <p class="margin-bottom">Name / €20</p>
                        <form class="customform s-12" action="">
                           <div class="margin-bottom"><button type="submit">remove</button></div>
						   
                        </form>
                     </div>
                     <div class="s-12 m-6 l-4">
                        <img src="img/3.jpg">
                        <p class="margin-bottom">Name / €20</p>
                        <form class="customform s-12" action="">
                           <div class="margin-bottom"><button type="submit">remove</button></div>
                        </form>
                     </div>
                     <div class="s-12 m-6 l-4">
                        <img src="img/2.jpg">
                        <p class="margin-bottom">Name / €20</p>
                        <form class="customform s-12" action="">
                           <div class="margin-bottom"><button type="submit">remove</button></div>
                        </form>
                     </div>
                     
                  </div>
               </section>
               <!-- ASIDE NAV -->
               <aside class="s-12 m-4 l-3">
                  <h3>Navigation</h3>
                  <div class="aside-nav">
                     <ul>
                        <li><a>confirm order</a></li>
                        
                        <li>
                           <a>cancel order</a>
                           
                        </li>
                        
                     </ul>
                  </div>
               </aside>
            </div>
         </div>
      </div>
      </article>
    </main>
   
    <script type="text/javascript" src="js/jquery.countTo.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script> 
    <script type="text/javascript" src="js/lightcase.js"></script>
    <script type="text/javascript" src="js/jquery.events.touch.js"></script>
    <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="js/typed.min.js"></script> 
    <script type="text/javascript" src="js/template-scripts.js"></script>
     
   </body>
</html>